---
import CardList from '~/components/CardList.astro'
import Section from '~/components/Section.astro'
import VSCExtension from '~/components/VSCExtension.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout title="Vscode Extensions">
  <h1 class="container p-2 text-center text-3xl px-4 py-2">
    Visual Studio Code extensions
  </h1>
  <img
    class="container p-2 flex rounded-2xl"
    src="https://raw.githubusercontent.com/adrianrl99/dotfiles/main/screenshots/vscode.png"
    alt="vscode screenshot"
  />
  <Section className="py-10" id="theme" title="Theme">
    <CardList size="5">
      <li>
        <VSCExtension
          description="A simple theme with bright colors and comes in three versions — dark, light and mirage for all day long comfortable work."
          image="https://teabyii.gallerycdn.vsassets.io/extensions/teabyii/ayu/1.0.5/1630928048471/Microsoft.VisualStudio.Services.Icons.Default"
          title="Ayu"
          url="https://marketplace.visualstudio.com/items?itemName=teabyii.ayu"
        />
      </li>
      <li>
        <VSCExtension
          description="Fluent product icons for Visual Studio Code"
          image="https://miguelsolorio.gallerycdn.vsassets.io/extensions/miguelsolorio/fluent-icons/0.0.18/1658854116627/Microsoft.VisualStudio.Services.Icons.Default"
          title="Fluent Icons"
          url="https://marketplace.visualstudio.com/items?itemName=miguelsolorio.fluent-icons"
        />
      </li>
      <li>
        <VSCExtension
          description="A simple file icon theme for VS Code"
          image="https://miguelsolorio.gallerycdn.vsassets.io/extensions/miguelsolorio/symbols/0.0.5/1660328879178/Microsoft.VisualStudio.Services.Icons.Default"
          title="Symbols"
          url="https://marketplace.visualstudio.com/items?itemName=miguelsolorio.symbols"
        />
      </li>
    </CardList>
  </Section>
  <Section className="py-10" id="general" title="General">
    <CardList size="5">
      <li>
        <VSCExtension
          description="Improve your code commenting by annotating with alert, informational, TODOs, and more!"
          image="https://aaron-bond.gallerycdn.vsassets.io/extensions/aaron-bond/better-comments/3.0.2/1659144495902/Microsoft.VisualStudio.Services.Icons.Default"
          title="Better Comments"
          url="https://marketplace.visualstudio.com/items?itemName=aaron-bond.better-comments"
        />
      </li>
      <li>
        <VSCExtension
          description="Better TOML Language support"
          image="https://bungcip.gallerycdn.vsassets.io/extensions/bungcip/better-toml/0.3.2/1518943844936/Microsoft.VisualStudio.Services.Icons.Default"
          title="Better TOML"
          url="https://marketplace.visualstudio.com/items?itemName=bungcip.better-toml"
        />
      </li>
      <li>
        <VSCExtension
          description="Support for dotenv file syntax"
          image="https://mikestead.gallerycdn.vsassets.io/extensions/mikestead/dotenv/1.0.1/1519894859412/Microsoft.VisualStudio.Services.Icons.Default"
          title="DotENV"
          url="https://marketplace.visualstudio.com/items?itemName=mikestead.dotenv"
        />
      </li>
      <li>
        <VSCExtension
          description="This unofficial extension integrates Draw.io into VS Code."
          image="https://hediet.gallerycdn.vsassets.io/extensions/hediet/vscode-drawio/1.6.4/1641551849859/Microsoft.VisualStudio.Services.Icons.Default"
          title="Draw.io Integration"
          url="https://marketplace.visualstudio.com/items?itemName=hediet.vscode-drawio"
        />
      </li>
      <li>
        <VSCExtension
          description="EditorConfig Support for Visual Studio Code"
          image="https://editorconfig.gallerycdn.vsassets.io/extensions/editorconfig/editorconfig/0.16.4/1607315835386/Microsoft.VisualStudio.Services.Icons.Default"
          title="EditorConfig for VS Code"
          url="https://marketplace.visualstudio.com/items?itemName=EditorConfig.EditorConfig"
        />
      </li>
      <li>
        <VSCExtension
          description="Improve highlighting of errors, warnings and other language diagnostics."
          image="https://usernamehw.gallerycdn.vsassets.io/extensions/usernamehw/errorlens/3.6.0/1658612570729/Microsoft.VisualStudio.Services.Icons.Default"
          title="Error Lens"
          url="https://marketplace.visualstudio.com/items?itemName=usernamehw.errorlens"
        />
      </li>
      <li>
        <VSCExtension
          description="Show the current file size in the status bar"
          image="https://mkxml.gallerycdn.vsassets.io/extensions/mkxml/vscode-filesize/3.1.0/1615564903050/Microsoft.VisualStudio.Services.Icons.Default"
          title="filesize"
          url="https://marketplace.visualstudio.com/items?itemName=mkxml.vscode-filesize"
        />
      </li>
      <li>
        <VSCExtension
          description="A VS Code extension that allows you to toggle formatting settings ON and OFF with a simple click."
          image="https://tombonnike.gallerycdn.vsassets.io/extensions/tombonnike/vscode-status-bar-format-toggle/3.1.1/1658217419083/Microsoft.VisualStudio.Services.Icons.Default"
          title="Formatting Toggle"
          url="https://marketplace.visualstudio.com/items?itemName=tombonnike.vscode-status-bar-format-toggle"
        />
      </li>
      <li>
        <VSCExtension
          description="Real-time collaborative development from the comfort of your favorite tools."
          image="https://ms-vsliveshare.gallerycdn.vsassets.io/extensions/ms-vsliveshare/vsliveshare/1.0.5683/1659988670082/Microsoft.VisualStudio.Services.Icons.Default"
          title="Live Share"
          url="https://marketplace.visualstudio.com/items?itemName=ms-vsliveshare.vsliveshare"
        />
      </li>
      <li>
        <VSCExtension
          description="Adds audio calling capabilities to Visual Studio Live Share"
          image="https://ms-vsliveshare.gallerycdn.vsassets.io/extensions/ms-vsliveshare/vsliveshare-audio/0.1.91/1600197261961/Microsoft.VisualStudio.Services.Icons.Default"
          title="Live Share Audio"
          url="https://marketplace.visualstudio.com/items?itemName=ms-vsliveshare.vsliveshare-audio"
        />
      </li>
      <li>
        <VSCExtension
          description="Generates and inserts lorem ipsum text"
          image="https://tyriar.gallerycdn.vsassets.io/extensions/tyriar/lorem-ipsum/1.3.1/1640026564395/Microsoft.VisualStudio.Services.Icons.Default"
          title="Lorem ipsum"
          url="https://marketplace.visualstudio.com/items?itemName=Tyriar.lorem-ipsum"
        />
      </li>
      <li>
        <VSCExtension
          description="Syntax highlighting for log files"
          image="https://ibm.gallerycdn.vsassets.io/extensions/ibm/output-colorizer/0.1.2/1499278429505/Microsoft.VisualStudio.Services.Icons.Default"
          title="Output Colorizer"
          url="https://marketplace.visualstudio.com/items?itemName=IBM.output-colorizer"
        />
      </li>
      <li>
        <VSCExtension
          description="Visual Studio Code plugin that autocompletes filenames"
          image="https://christian-kohler.gallerycdn.vsassets.io/extensions/christian-kohler/path-intellisense/2.8.1/1654770568656/Microsoft.VisualStudio.Services.Icons.Default"
          title="Path Intellisense"
          url="https://marketplace.visualstudio.com/items?itemName=christian-kohler.path-intellisense"
        />
      </li>
      <li>
        <VSCExtension
          description="Organize your workspaces in a speed-dial manner."
          image="https://kruemelkatze.gallerycdn.vsassets.io/extensions/kruemelkatze/vscode-dashboard/2.5.2/1649796425480/Microsoft.VisualStudio.Services.Icons.Default"
          title="Project Dashboard"
          url="https://marketplace.visualstudio.com/items?itemName=kruemelkatze.vscode-dashboard"
        />
      </li>
      <li>
        <VSCExtension
          description="Open any folder on a remote machine using SSH and take advantage of VS Code's full feature set."
          image="https://ms-vscode-remote.gallerycdn.vsassets.io/extensions/ms-vscode-remote/remote-ssh/0.85.2022071315/1657724788035/Microsoft.VisualStudio.Services.Icons.Default"
          title="Remote - SSH"
          url="https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh"
        />
      </li>
      <li>
        <VSCExtension
          description="Edit SSH configuration files"
          image="https://ms-vscode-remote.gallerycdn.vsassets.io/extensions/ms-vscode-remote/remote-ssh-edit/0.80.0/1649099434547/Microsoft.VisualStudio.Services.Icons.Default"
          title="Remote - SSH: Editing Configuration Files"
          url="https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh-edit"
        />
      </li>
      <li>
        <VSCExtension
          description="REST Client for Visual Studio Code"
          image="https://humao.gallerycdn.vsassets.io/extensions/humao/rest-client/0.25.0/1655829100763/Microsoft.VisualStudio.Services.Icons.Default"
          title="REST Client"
          url="https://marketplace.visualstudio.com/items?itemName=humao.rest-client"
        />
      </li>
      <li>
        <VSCExtension
          description="Preview for Svg files"
          image="https://simonsiefke.gallerycdn.vsassets.io/extensions/simonsiefke/svg-preview/2.8.3/1581688879196/Microsoft.VisualStudio.Services.Icons.Default"
          title="Svg Preview"
          url="https://marketplace.visualstudio.com/items?itemName=SimonSiefke.svg-preview"
        />
      </li>
      <li>
        <VSCExtension
          description="highlight TODOs, FIXMEs, and any keywords, annotations..."
          image="https://wayou.gallerycdn.vsassets.io/extensions/wayou/vscode-todo-highlight/1.0.5/1635478170130/Microsoft.VisualStudio.Services.Icons.Default"
          title="TODO Highlight"
          url="https://marketplace.visualstudio.com/items?itemName=wayou.vscode-todo-highlight"
        />
      </li>
      <li>
        <VSCExtension
          description="Display pdf file in VSCode."
          image="https://tomoki1207.gallerycdn.vsassets.io/extensions/tomoki1207/pdf/1.2.0/1639506068624/Microsoft.VisualStudio.Services.Icons.Default"
          title="vscode-pdf"
          url="https://marketplace.visualstudio.com/items?itemName=tomoki1207.pdf"
        />
      </li>
      <li>
        <VSCExtension
          description="Metrics, insights, and time tracking automatically generated from your programming activity."
          image="https://wakatime.gallerycdn.vsassets.io/extensions/wakatime/vscode-wakatime/18.1.7/1660198890112/Microsoft.VisualStudio.Services.Icons.Default"
          title="WakaTime"
          url="https://marketplace.visualstudio.com/items?itemName=WakaTime.vscode-wakatime"
        />
      </li>
      <li>
        <VSCExtension
          description="YAML Language Support by Red Hat, with built-in Kubernetes syntax support"
          image="https://redhat.gallerycdn.vsassets.io/extensions/redhat/vscode-yaml/1.10.20220805/1659702672778/Microsoft.VisualStudio.Services.Icons.Default"
          title="YAML"
          url="https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml"
        />
      </li>
    </CardList>
  </Section>
  <Section className="py-10" id="markdown" title="Markdown">
    <CardList size="5">
      <li>
        <VSCExtension
          description="All you need to write Markdown (keyboard shortcuts, table of contents, auto preview and more)"
          image="https://yzhang.gallerycdn.vsassets.io/extensions/yzhang/markdown-all-in-one/3.4.3/1650809171656/Microsoft.VisualStudio.Services.Icons.Default"
          title="Markdown All in One"
          url="https://marketplace.visualstudio.com/items?itemName=yzhang.markdown-all-in-one"
        />
      </li>
      <li>
        <VSCExtension
          description="Adds Mermaid diagram and flowchart support to VS Code's builtin markdown preview"
          image="https://bierner.gallerycdn.vsassets.io/extensions/bierner/markdown-mermaid/1.14.3/1659387043113/Microsoft.VisualStudio.Services.Icons.Default"
          title="Markdown Preview Mermaid Support"
          url="https://marketplace.visualstudio.com/items?itemName=bierner.markdown-mermaid"
        />
      </li>
      <li>
        <VSCExtension
          description="Markdown linting and style checking for Visual Studio Code"
          image="https://davidanson.gallerycdn.vsassets.io/extensions/davidanson/vscode-markdownlint/0.47.0/1648872337042/Microsoft.VisualStudio.Services.Icons.Default"
          title="markdownlint"
          url="https://marketplace.visualstudio.com/items?itemName=DavidAnson.vscode-markdownlint"
        />
      </li>
    </CardList>
  </Section>
  <Section className="py-10" id="git" title="Git">
    <CardList size="5">
      <li>
        <VSCExtension
          description="View a Git Graph of your repository, and perform Git actions from the graph."
          image="https://mhutchie.gallerycdn.vsassets.io/extensions/mhutchie/git-graph/1.30.0/1617594001998/Microsoft.VisualStudio.Services.Icons.Default"
          title="Git Graph"
          url="https://marketplace.visualstudio.com/items?itemName=mhutchie.git-graph"
        />
      </li>
      <li>
        <VSCExtension
          description="View git log, file history, compare branches or commits"
          image="https://donjayamanne.gallerycdn.vsassets.io/extensions/donjayamanne/githistory/0.6.19/1635531678980/Microsoft.VisualStudio.Services.Icons.Default"
          title="Git History"
          url="https://marketplace.visualstudio.com/items?itemName=donjayamanne.githistory"
        />
      </li>
      <li>
        <VSCExtension
          description="Your AI pair programmer"
          image="https://github.gallerycdn.vsassets.io/extensions/github/copilot/1.40.6471/1660232044959/Microsoft.VisualStudio.Services.Icons.Default"
          title="GitHub Copilot"
          url="https://marketplace.visualstudio.com/items?itemName=GitHub.copilot"
        />
      </li>
      <li>
        <VSCExtension
          description="Pull Request and Issue Provider for GitHub"
          image="https://github.gallerycdn.vsassets.io/extensions/github/vscode-pull-request-github/0.49.2022081109/1660210285494/Microsoft.VisualStudio.Services.Icons.Default"
          title="GitHub Pull Requests and Issues"
          url="https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github"
        />
      </li>
      <li>
        <VSCExtension
          description="Lets you pull .gitignore templates from the https://github.com/github/gitignore repository. Language support for .gitignore files."
          image="https://codezombiech.gallerycdn.vsassets.io/extensions/codezombiech/gitignore/0.9.0/1658773731427/Microsoft.VisualStudio.Services.Icons.Default"
          title="gitignore"
          url="https://marketplace.visualstudio.com/items?itemName=codezombiech.gitignore"
        />
      </li>
      <li>
        <VSCExtension
          description="Supercharge Git within VS Code — Visualize code authorship at a glance via Git blame annotations and CodeLens, seamlessly navigate and explore Git repositories, gain valuable insights via rich visualizations and powerful comparison commands, and so much more"
          image="https://eamodio.gallerycdn.vsassets.io/extensions/eamodio/gitlens/12.1.2/1657684924460/Microsoft.VisualStudio.Services.Icons.Default"
          title="GitLens — Git supercharged"
          url="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens"
        />
      </li>
    </CardList>
  </Section>
  <Section className="py-10" id="shell" title="Shell">
    <CardList size="5">
      <li>
        <VSCExtension
          description="A language server for Bash"
          image="https://mads-hartmann.gallerycdn.vsassets.io/extensions/mads-hartmann/bash-ide-vscode/1.14.0/1653350018113/Microsoft.VisualStudio.Services.Icons.Default"
          title="Bash IDE"
          url="https://marketplace.visualstudio.com/items?itemName=mads-hartmann.bash-ide-vscode"
        />
      </li>
      <li>
        <VSCExtension
          description="shellscript、Dockerfile、properties、gitignore、dotenv、hosts、jvmoptions... DocumentFormat"
          image="https://foxundermoon.gallerycdn.vsassets.io/extensions/foxundermoon/shell-format/7.2.2/1636278139429/Microsoft.VisualStudio.Services.Icons.Default"
          title="shell-format"
          url="https://marketplace.visualstudio.com/items?itemName=foxundermoon.shell-format"
        />
      </li>
      <li>
        <VSCExtension
          description="Integrates ShellCheck into VS Code, a linter for Shell scripts."
          image="https://timonwong.gallerycdn.vsassets.io/extensions/timonwong/shellcheck/0.19.6/1658321545819/Microsoft.VisualStudio.Services.Icons.Default"
          title="ShellCheck"
          url="https://marketplace.visualstudio.com/items?itemName=timonwong.shellcheck"
        />
      </li>
    </CardList>
  </Section>
  <Section className="py-10" id="web" title="Web">
    <CardList size="5">
      <li>
        <VSCExtension
          description="Language support for Astro"
          image="https://astro-build.gallerycdn.vsassets.io/extensions/astro-build/astro-vscode/0.21.1/1660318516252/Microsoft.VisualStudio.Services.Icons.Default"
          title="Astro"
          url="https://marketplace.visualstudio.com/items?itemName=astro-build.astro-vscode"
        />
      </li>
      <li>
        <VSCExtension
          description="A vscode extension to help visualize css colors in files."
          image="https://kamikillerto.gallerycdn.vsassets.io/extensions/kamikillerto/vscode-colorize/0.11.1/1619866227538/Microsoft.VisualStudio.Services.Icons.Default"
          title="colorize"
          url="https://marketplace.visualstudio.com/items?itemName=kamikillerto.vscode-colorize"
        />
      </li>
      <li>
        <VSCExtension
          description="Intellisense support for CSS Variables"
          image="https://phoenisx.gallerycdn.vsassets.io/extensions/phoenisx/cssvar/2.1.0/1660066370813/Microsoft.VisualStudio.Services.Icons.Default"
          title="CSS Var Complete"
          url="https://marketplace.visualstudio.com/items?itemName=phoenisx.cssvar"
        />
      </li>
      <li>
        <VSCExtension
          description="Extensions for React, React-Native and Redux in JS/TS with ES7+ syntax. Customizable. Built-in integration with prettier."
          image="https://dsznajder.gallerycdn.vsassets.io/extensions/dsznajder/es7-react-js-snippets/4.4.3/1645189962576/Microsoft.VisualStudio.Services.Icons.Default"
          title="ES7+ React/Redux/React-Native snippets"
          url="https://marketplace.visualstudio.com/items?itemName=dsznajder.es7-react-js-snippets"
        />
      </li>
      <li>
        <VSCExtension
          description="Integrates ESLint JavaScript into VS Code."
          image="https://dbaeumer.gallerycdn.vsassets.io/extensions/dbaeumer/vscode-eslint/2.2.6/1657015175302/Microsoft.VisualStudio.Services.Icons.Default"
          title="ESLint"
          url="https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint"
        />
      </li>
      <li>
        <VSCExtension
          description="CSS Intellisense for HTML"
          image="https://ecmel.gallerycdn.vsassets.io/extensions/ecmel/vscode-html-css/1.13.1/1659218422410/Microsoft.VisualStudio.Services.Icons.Default"
          title="HTML CSS Support"
          url="https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css"
        />
      </li>
      <li>
        <VSCExtension
          description="Shows image preview in the gutter and on hover"
          image="https://kisstkondoros.gallerycdn.vsassets.io/extensions/kisstkondoros/vscode-gutter-preview/0.30.0/1644076638771/Microsoft.VisualStudio.Services.Icons.Default"
          title="Image preview"
          url="https://marketplace.visualstudio.com/items?itemName=kisstkondoros.vscode-gutter-preview"
        />
      </li>
      <li>
        <VSCExtension
          description="Display import/require package size in the editor"
          image="https://wix.gallerycdn.vsassets.io/extensions/wix/vscode-import-cost/3.3.0/1649579526643/Microsoft.VisualStudio.Services.Icons.Default"
          title="Import Cost"
          url="https://marketplace.visualstudio.com/items?itemName=wix.vscode-import-cost"
        />
      </li>
      <li>
        <VSCExtension
          description="Code snippets for JavaScript in ES6 syntax"
          image="https://xabikos.gallerycdn.vsassets.io/extensions/xabikos/javascriptsnippets/1.8.0/1587489699375/Microsoft.VisualStudio.Services.Icons.Default"
          title="JavaScript (ES6) code snippets"
          url="https://marketplace.visualstudio.com/items?itemName=xabikos.JavaScriptSnippets"
        />
      </li>
      <li>
        <VSCExtension
          description="Use Facebook's Jest With Pleasure."
          image="https://orta.gallerycdn.vsassets.io/extensions/orta/vscode-jest/4.6.0/1653532874689/Microsoft.VisualStudio.Services.Icons.Default"
          title="Jest"
          url="https://marketplace.visualstudio.com/items?itemName=Orta.vscode-jest"
        />
      </li>
      <li>
        <VSCExtension
          description="Launch a development local Server with live reload feature for static & dynamic pages"
          image="https://ritwickdey.gallerycdn.vsassets.io/extensions/ritwickdey/liveserver/5.7.5/1646738284779/Microsoft.VisualStudio.Services.Icons.Default"
          title="Live Server"
          url="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer"
        />
      </li>
      <li>
        <VSCExtension
          description="Preview your HTML file with localhost server live-reloading enabled"
          image="https://negokaz.gallerycdn.vsassets.io/extensions/negokaz/live-server-preview/0.1.4/1547978629783/Microsoft.VisualStudio.Services.Icons.Default"
          title="Live Server Preview"
          url="https://marketplace.visualstudio.com/items?itemName=negokaz.live-server-preview"
        />
      </li>
      <li>
        <VSCExtension
          description="Code formatter using prettier"
          image="https://esbenp.gallerycdn.vsassets.io/extensions/esbenp/prettier-vscode/9.5.0/1648513363698/Microsoft.VisualStudio.Services.Icons.Default"
          title="Prettier - Code formatter"
          url="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode"
        />
      </li>
      <li>
        <VSCExtension
          description="JavaScript and TypeScript playground in your editor."
          image="https://wallabyjs.gallerycdn.vsassets.io/extensions/wallabyjs/quokka-vscode/1.0.497/1659911238867/Microsoft.VisualStudio.Services.Icons.Default"
          title="Quokka.js"
          url="https://marketplace.visualstudio.com/items?itemName=WallabyJs.quokka-vscode"
        />
      </li>
      <li>
        <VSCExtension
          description="Svelte language support for VS Code"
          image="https://svelte.gallerycdn.vsassets.io/extensions/svelte/svelte-vscode/105.20.0/1658909325649/Microsoft.VisualStudio.Services.Icons.Default"
          title="Svelte for VS Code"
          url="https://marketplace.visualstudio.com/items?itemName=svelte.svelte-vscode"
        />
      </li>
      <li>
        <VSCExtension
          description="Intelligent Tailwind CSS tooling for VS Code"
          image="https://bradlc.gallerycdn.vsassets.io/extensions/bradlc/vscode-tailwindcss/0.8.6/1654179463685/Microsoft.VisualStudio.Services.Icons.Default"
          title="Tailwind CSS IntelliSense"
          url="https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss"
        />
      </li>
      <li>
        <VSCExtension
          description="Vue tooling for VS Code"
          image="https://octref.gallerycdn.vsassets.io/extensions/octref/vetur/0.36.0/1659748698494/Microsoft.VisualStudio.Services.Icons.Default"
          title="Vetur"
          url="https://marketplace.visualstudio.com/items?itemName=octref.vetur"
        />
      </li>
      <li>
        <VSCExtension
          description="Language support for Vue 3"
          image="https://vue.gallerycdn.vsassets.io/extensions/vue/volar/0.40.1/1660164766399/Microsoft.VisualStudio.Services.Icons.Default"
          title="Vue Language Features (Volar)"
          url="https://marketplace.visualstudio.com/items?itemName=Vue.volar"
        />
      </li>
    </CardList>
  </Section>
  <Section className="py-10" id="python" title="Python">
    <CardList size="5">
      <li>
        <VSCExtension
          description="Jupyter notebook support, interactive programming and computing that supports Intellisense, debugging and more."
          image="https://ms-toolsai.gallerycdn.vsassets.io/extensions/ms-toolsai/jupyter/2022.8.1002261021/1660296301949/Microsoft.VisualStudio.Services.Icons.Default"
          title="Jupyter"
          url="https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter"
        />
      </li>
      <li>
        <VSCExtension
          description="Jupyter keymaps for notebooks"
          image="https://ms-toolsai.gallerycdn.vsassets.io/extensions/ms-toolsai/jupyter-keymap/1.0.0/1629490473618/Microsoft.VisualStudio.Services.Icons.Default"
          title="Jupyter Keymap"
          url="https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter-keymap"
        />
      </li>
      <li>
        <VSCExtension
          description="Renderers for Jupyter Notebooks (with plotly, vega, gif, png, svg, jpeg and other such outputs)"
          image="https://ms-toolsai.gallerycdn.vsassets.io/extensions/ms-toolsai/jupyter-renderers/1.0.9/1658343566874/Microsoft.VisualStudio.Services.Icons.Default"
          title="Jupyter Notebook Renderers"
          url="https://marketplace.visualstudio.com/items?itemName=ms-toolsai.jupyter-renderers"
        />
      </li>
      <li>
        <VSCExtension
          description="A performant, feature-rich language server for Python in VS Code"
          image="https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/vscode-pylance/2022.8.21/1660172481752/Microsoft.VisualStudio.Services.Icons.Default"
          title="Pylance"
          url="https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance"
        />
      </li>
      <li>
        <VSCExtension
          description="IntelliSense (Pylance), Linting, Debugging (multi-threaded, remote), Jupyter Notebooks, code formatting, refactoring, unit tests, and more."
          image="https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2022.13.12241007/1660299056881/Microsoft.VisualStudio.Services.Icons.Default"
          title="Python"
          url="https://marketplace.visualstudio.com/items?itemName=ms-python.python"
        />
      </li>
      <li>
        <VSCExtension
          description="Correct Python indentation"
          image="https://kevinrose.gallerycdn.vsassets.io/extensions/kevinrose/vsc-python-indent/1.17.0/1655947229845/Microsoft.VisualStudio.Services.Icons.Default"
          title="Python Indent"
          url="https://marketplace.visualstudio.com/items?itemName=KevinRose.vsc-python-indent"
        />
      </li>
    </CardList>
  </Section>
  <Section className="py-10" id="rust" title="Rust">
    <CardList size="5">
      <li>
        <VSCExtension
          description="Helps Rust developers managing dependencies with Cargo.toml. Only works with dependencies from crates.io."
          image="https://serayuzgur.gallerycdn.vsassets.io/extensions/serayuzgur/crates/0.5.10/1633510597451/Microsoft.VisualStudio.Services.Icons.Default"
          title="crates"
          url="https://marketplace.visualstudio.com/items?itemName=serayuzgur.crates"
        />
      </li>
      <li>
        <VSCExtension
          description="Rust language support for Visual Studio Code"
          image="https://rust-lang.gallerycdn.vsassets.io/extensions/rust-lang/rust-analyzer/0.4.1167/1660351638096/Microsoft.VisualStudio.Services.Icons.Default"
          title="rust-analyzer"
          url="https://marketplace.visualstudio.com/items?itemName=rust-lang.rust-analyzer"
        />
      </li>
      <li>
        <VSCExtension
          description="crates suggestions for your Rust project's Cargo.toml file"
          image="https://belfz.gallerycdn.vsassets.io/extensions/belfz/search-crates-io/1.2.1/1526047125511/Microsoft.VisualStudio.Services.Icons.Default"
          title="Search crates.io"
          url="https://marketplace.visualstudio.com/items?itemName=belfz.search-crates-io"
        />
      </li>
    </CardList>
  </Section>
  <Section className="py-10" id="haskell" title="Haskell">
    <CardList size="5">
      <li>
        <VSCExtension
          description="Haskell language support powered by the Haskell Language Server"
          image="https://haskell.gallerycdn.vsassets.io/extensions/haskell/haskell/2.2.1/1660174929268/Microsoft.VisualStudio.Services.Icons.Default"
          title="Haskell"
          url="https://marketplace.visualstudio.com/items?itemName=haskell.haskell"
        />
      </li>
      <li>
        <VSCExtension
          description="Syntax support for the Haskell programming language."
          image="https://justusadam.gallerycdn.vsassets.io/extensions/justusadam/language-haskell/3.6.0/1647374117108/Microsoft.VisualStudio.Services.Icons.Default"
          title="Haskell Syntax Highlighting"
          url="https://marketplace.visualstudio.com/items?itemName=justusadam.language-haskell"
        />
      </li>
      <li>
        <VSCExtension
          description="Integrates stylish-haskell with VS Code"
          image="https://cdn.vsassets.io/v/M207_20220810.1/_content/Header/default_icon_128.png"
          title="stylish-haskell"
          url="https://marketplace.visualstudio.com/items?itemName=vigoo.stylish-haskell"
        />
      </li>
    </CardList>
  </Section>
</Layout>
