---
interface Props {
  className?: string
}

const { className } = Astro.props as Props
---

<div
  class:list={[
    'bg-slate-300 p-2 shadow-lg bg-opacity-5 backdrop-blur-lg rounded-md flex flex-col gap-2',
    className,
  ]}
>
  <slot />
</div>
